<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.youzan.owl.oc.dal.dao.ebiz.BuyerInfoDao">

    <sql id="tableName">
        invoke_info
    </sql>

    <sql id="fields">
        id,
        app,
        unique_id,
        invoke_id,
        serial_no,
        type,
        status,
        ext,
        created_at,
        updated_at
    </sql>

</mapper>